.wrapper {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
}
.filters {
  max-width: fit-content;
  margin: 24px auto 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway";
}
.filterBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 80, 125, 0.5);
  cursor: pointer;
  border-radius: 8px;
  transition: color 0.3s ease;
}
.filterBtnSelected {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 12px;
  background: var(--Deep-orange, #d74a2d);
}
.filterBtn:hover {
  color: #ff507d;
}
.filterBtn:active {
  color: #ce0436;
}
