.marginTop{
    margin-top: 30px;
}
.wrapper{
    max-width: 1350px;
    width: 100%;
    margin: 32px auto 100px;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0px 15px;
    @media (max-width:880px) {
        flex-direction: column;
    }
}
.projectStats{
    padding: 0px 15px;
    margin-bottom: 100px;
}