.projects {
  max-width: 1206px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 100px;
}
.filters {
  max-width: fit-content;
  margin: 24px auto 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway";
}
.filterBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--Deep-orange, #D74A2D);
  cursor: pointer;
  border-radius: 8px;
  transition: color 0.3s ease;
}
.filterBtnSelected {
  border-radius: 12px;
  background: var(--Deep-orange, #d74a2d);
  padding: 6px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.filterBtn:hover {
  color: #ff507d;
}
.filterBtn:active {
  color: #ce0436;
}
.projectsItems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  @media (max-width: 1200px) {
    justify-content: center;
  }
}
