.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @media (max-width: 450px) {
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
.body {
  border: 1px solid #d74a2d;
  border-radius: 12px;
  height: fit-content;
  padding: 20px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 24px;
  color: #131316;
  font-weight: 600;
  text-align: center;
}
.date {
  margin: 15px 0;
  color: #d74a2d;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.steps {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 450px) {
    gap: 24px;
    padding-left: 38px;
  }
}
.step {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  color: #d74a2d;
  font-weight: 600;
  transition: all 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -30px;
    width: 4px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d74a2d;
    border-radius: 8px;
  }
  &:last-child::before {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -40px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #d74a2d;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.137);
    border: 4px solid white;
  transition: all 0.3s ease;

  }
}
.disabled{
  color: #d7492d53;
  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -30px;
    width: 4px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d7492d3b;
    border-radius: 8px;
  }
  &::after {
    content: "";
    background: #d7492d3b;

  }
}