.wrapper {
  max-width: 899px;
  margin: 0 auto;
  @media (max-width: 920px) {
    padding: 0px 24px;
  }
  @media (max-width: 620px) {
    padding: 12px;
  }
}
.body {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.accItem {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  max-width: 899px;
  width: 100%;
  border-radius: 12px;
  background: var(--Light-orange, #fff7f5);
  padding: 26px 24px;
  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #0d0f2b;
  }
  img {
    transition: all 0.3s ease;
  }
  transition: all 0.3s ease;
  &:hover {
    background: var(--Light-orange, #f8e7e5);
  }
  @media (max-width: 620px) {
    padding: 12px;
  }
}
.accToggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    @media (max-width: 620px) {
      max-width: 248px;
      text-align: left;
    }
  }
}
.text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #738094;
  text-align: justify;
}
