.body {
  display: flex;
  gap: 6px;
}
.checkboxWrapper {
  position: relative;
  display: flex;

  max-width: 50px;
  background: #D74A2D;
  border-radius: 15px;
  border: 1px solid #D74A2D;
  label {
    position: absolute;
    top: 1.9px;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    overflow: hidden;
    background: white;

    transition: all 0.3s;
    cursor: pointer;
    z-index: 1;
  }
  input {
    width: 60px;
    opacity: 0;
  }
}
.secondItem {
  transform: translateX(2.5px);
}
.firstItem {
  transform: translateX(30.5px);
}
.item {
  padding: 0px;
  color: rgba(13, 15, 43, 0.5);
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}
.item.selectedItem {
  color: #D74A2D;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}
