.body {
  padding: 9px 12px;
  background: rgba(234, 242, 251, 0.5);
  border-radius: 8px;
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #0d0f2b;

  &::placeholder {
    font-family: 'Raleway','sans-serif';

    color: rgba(115, 128, 148, 0.5);
    font-size: 14px;
    font-weight: 400;
  }
}
