.btn {
  width: 100%;

  color: var(--Main-white, #f5f5f5);
  text-align: center;
  font-family: inherit;
  font-size: 28px;
  font-weight: 600;
  padding: 12px 6px;
  border-radius: 50px;
  background: var(--Deep-orange, #d74a2d);
  box-shadow: -4px -4px 4px 0px rgba(19, 18, 18, 0.25) inset,
    4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;

  transition: all 0.3s ease;
  &:hover {
    background: var(--Deep-orange, #9f321c);
  }
  &:active {
    background: var(--Deep-orange, #8d2a17);
  }
  &:disabled {
    background: #808894;
    box-shadow: 0px 0px 0px 0px;
    cursor: not-allowed;
  }
}
.btnRed {
  width: 100%;
  color: var(--Main-white, #f5f5f5);
  text-align: center;
  font-family: inherit;
  font-size: 28px;
  font-weight: 600;
  padding: 12px 6px;
  border-radius: 16px;
  background: var(--Deep-orange, #d74a2d);
  box-shadow: -4px -4px 4px 0px rgba(19, 18, 18, 0.25) inset,
    4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;

  transition: all 0.3s ease;
  &:hover {
    background: var(--Deep-orange, #9f321c);
  }
  &:active {
    background: var(--Deep-orange, #8d2a17);
  }
  &:disabled {
    background: #808894;
    box-shadow: 0px 0px 0px 0px;
    cursor: not-allowed;
  }
}
.participate {
  min-width: 380px;
  background: #fff7f5;
  color: #d74a2d;
  @media (max-width:470px) {
    min-width: 330px;
  }
  @media (max-width:425px) {
    min-width: 270px;
  }
  &:hover{
    background: #cd3512;
    color: #fff1ee;
  }
  &:active {
    background: var(--Deep-orange, #8d2a17);
  }
}
.inviteCode{
  padding: 16px;
}
.actionItem{
  padding: 8px 12px;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}