@font-face {
  font-family: "Gilroy Semibold";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
button {
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.075);
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.685);
  border-radius: 99px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  border-radius: 99px;
  border: 2px solid transparent;
  background-clip: content-box;
}
.no-margin {
  margin: 0;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 16px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--Deep-orange, #D74A2D) !important;
}
.swiper-pagination-bullet {
  background: #FFE5DF !important;
}
.ql-editor {
  min-height: 300px;
}
.hide-scroll {
  overflow: hidden;
  max-height: 100%;
}

.open-modal {
  opacity: 1 !important;
  visibility: visible !important;
}
.hide-banner {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateY(-20px) !important;
}
.center-text {
  margin: 0 auto;
  text-align: center;
}
.loading-modal {
  z-index: 100000;
}
.nfts-swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 295px;
}

.swiper-slide.nft-slide {
  max-width: 290px;
  position: relative;
  z-index: 10;
  width: 100% !important;
}

.hide-item {
  z-index: -10 !important;
}

@media (max-width: 450px) {
  .nfts-swiper {
    padding: 0px 6px !important;
    width: 370px;
  }
  .swiper-slide.nft-slide {
    max-width: 370px;
    justify-content: center;
  }
  .nfts-swiper .swiper-wrapper {
    height: 385px;
  }
}
@media (max-width: 385px) {
  .nfts-swiper {
    max-width: 315px;
    width: 100%;
  }
  .swiper-slide.nft-slide {
    max-width: 315px;
    justify-content: center;
  }
  .nfts-swiper .swiper-wrapper {
    height: 385px;
  }
}
.line {
  margin: 0;
  border: none;
  height: 2px;
  background: #f8f8f9;
}
.custom-chart-tooltip {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  height: 52px;
  background-color: #0d0f2b !important;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-family: "Gilroy Semibold";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.custom-chart-tooltip span {
  color: white;
}
.custom-chart-container-second {
  position: absolute;
  left: 30px;
  bottom: 27px;
}
@media (max-width: 520px) {
  .custom-chart-tooltip {
    font-size: 11.5px;
    max-width: 160px;
    height: 44px;
  }
}
.custom-chart-xasis .recharts-cartesian-axis-tick {
  color: #738094;
  text-align: center;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-chart-xasis .recharts-cartesian-axis-tick line {
  display: none;
}
.custom-chart-xasis line {
  stroke: #eee;
}
.custom-chart-yasis line {
  stroke: #eee;
}
.custom-chart-yasis .recharts-cartesian-axis-tick line {
  display: none;
}
.custom-chart-yasis tspan {
  color: #738094;
  text-align: center;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-chart-container {
  position: absolute;
  top: 8px;
  left: -30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1000px) {
  .custom-chart-container svg {
    max-width: 500px !important;
    width: 100% !important;
  }
  .custom-chart-container-second svg {
    max-width: 440px !important;
    width: 100% !important;
  }
}

@media (max-width: 920px) {
  .custom-chart-container {
    width: 100% !important;
  }
  .recharts-wrapper {
    width: 100% !important;
  }
  .custom-chart-container svg {
    max-width: 80vw !important;
    height: auto !important;
    width: 100% !important;
  }
  .custom-chart-container-second svg {
    max-width: 70vw !important;
    height: auto !important;
    width: 100% !important;
  }
  .custom-chart-container-second {
    width: 100% !important;
  }
}

@media (max-width: 520px) {
  .custom-chart-container {
    position: absolute;
    top: 8px;
    left: -20px;
  }

  .custom-chart-container svg {
    max-width: 100% !important;
  }
  .custom-chart-container-second {
    position: absolute;
    top: -18px;
    left: 20px;
  }

  .custom-chart-container-second svg {
    max-width: 90% !important;
  }
}
.review-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: black !important;
}
.review-swiper .swiper-pagination-bullet {
  background: black !important;
}

.staking-chart-xasis .recharts-cartesian-axis-tick {
  color: rgba(115, 128, 148, 0.5);
  text-align: center;
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.staking-chart-xasis .recharts-cartesian-axis-tick line {
  display: none;
}
.staking-chart-xasis line {
  display: none;
}
.staking-chart-yasis line {
  display: none;
}
.staking-chart-yasis .recharts-cartesian-axis-tick line {
  display: none;
}
.staking-chart-xasis {
  transform: translate(10px, 0px);
}
.staking-chart-yasis tspan {
  color: rgba(115, 128, 148, 0.5);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.staking-chart {
  transform: translateX(-30px);
}
@media (max-width: 500px) {

}
